@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: 'Roboto';
    color: black;
}
header{
    text-align: center;
}
header h1{
    padding: 1em 0;
    background-color: hsl(195, 53%, 90%);
    
}
header nav ul{
    margin: 2em 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
header nav ul a{
    margin:0 4em;
    color: green;
    text-decoration: none;
    padding: 0.25em .5em;
    border-radius: .2em;
}
header nav ul a:hover{
    background-color: #bbb;
}
main{
    display: flex;
    flex-direction: column;
}
main section{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}
main section figure{
    margin: 0.5em;
    border-radius: .5em;
    text-align: center;
    width: 300px;
    height: 60vh;
    background-color: white;
    padding: 0.5em;
    box-shadow: 1px 1px 3px #aaa,-1px -1px 4px #aaa;
}

main section figure img{
    height: 60%;
    width: 60%;
}
main section figure:nth-child(2) img{
    height: 40%;
    width: 40%;
}

main section figure h3{
    margin: 1em 0;
}
main section figure span{
    display: block;
    margin: 1em 0;
    color: green;
}
main section:nth-child(3){
    padding-bottom: 3em;
}
footer{
    padding: 1em;
    text-align: center;
    background-color: green;
}